/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author kmattos1
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;
	font-family: monospace}


.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/

/**
header h1 text and color
 */
/*h1 {
	font-family: monospace;
	color: lime;
}*/


/**
header flex box
 */
.header {
	display: flex;
	justify-content: flex-start;
	font-family: monospace;
	color: lime;


}

.dMcDHeader {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	justify-content: flex-start;
	background-color: #333333;
}


/**
 instructions
 */
.instructions {
	width: 100%;
	margin: 2rem auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.instructions > .container {
	border: 2px black;
	display: flex;
	flex-flow: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.instructions > .container > .content-wrapper {
	width: 40%;
	margin: 2rem;
	min-width: 17rem;
	word-wrap: break-word;
	border: 1px solid #363636;
}

/**
image wrapper for Captain Janeway
*/
.instructions > .container > .image-wrapper {
	width: 25%;
	margin: 2rem;
	min-width: 17rem;
	border: 1px solid #363636;
}

/**
about me
 */

.about-me {
	width: 100%;
	background-color: blue;
	display: inline-flex;
	flex-flow: wrap;
	align-items: center;
	justify-content: space-around;
}

/**
image wrapper for Captain Picard
 **/
img[alt*="captain picard"] {
	width: 22em;
	height: auto;
	border: 2px solid #ffedff;
	margin: 2rem auto;
}

/**
professional skillz
 */
.skillList {
	width: 78%;
	margin: 2rem auto;
	font-family: monospace;
}

.skillList h2 {
	float: right;
}

table {
	table-layout: fixed;
	width: 100%;
	margin-bottom: 3rem;
}

table, td, th {
	border-collapse: collapse;
	background-color: darkslategray;
	border: 3px solid white;
	color: lime;
}

th, td {
	height: 3rem;
}

/**
contact-me
 */



/**
footer
 */

footer {
	background: black;
	color: white;
	font-size: 12px;
	text-align: center;
	padding: 1em;
}



